.task-container {
    width: 400px;
    margin: 20px;
    color:#4d004d;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 2px 4px #00000033;
    position: relative;
    background-color: #f69ff6;
    box-shadow: grey 0px 1px 2px 1px;
    font-family:Tahoma;
}

.task-title {
    margin: 2px;
    color:#4d004d;
    font-weight: bold;
}

.task-description {
    margin: 2px;
}

.task-prority {
    margin: 0;
    position: absolute;
    width: 60px;
    text-align: center;
    right: 0;
    top: 0;
    background-color: #4d004d;
    color: #fff;
    padding: 4px;
    border-radius:0 9px 0 5px;
    margin-bottom: 4px;
    font-size: 12px;
}

.edit-icon{
    position: absolute;
    bottom: 5px;
    right: 35px;
    cursor: pointer;
    background-color: white;
    padding: 2px;
    border-radius: 30%;
    box-shadow: grey 0px 1px 2px 1px;
}

.delete-icon{
    position: absolute;
    bottom: 5px;
    right: 12px;
    cursor: pointer;
    background-color: white;
    padding: 2px;
    border-radius: 30%;
    box-shadow: grey 0px 1px 2px 1px;

}