.container{
    margin-top: 10px;
}

.app-title{
    text-align: center;
    background-color:  #ffcbff;
    width: 400px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid white ;
    border-radius: 10px;
    color:black ;
    font-size: 30px;
    box-shadow: 0 2px 4px #00000033;
    font-family:Tahoma;
}

.text-center{
text-align: center;
font-family:Tahoma;

}

.todo-flex-container{
    display: flex;
    justify-content: space-around;

}